a.md-header-nav__button.md-logo {
  padding: 0px;
}

.md-header-nav__button.md-logo img {
  min-width: 100px;
  height: 35px;
  padding-top: 10px;
}

/* Changelog styling */
article h4[id^="features"] {
  color: crimson;
  font-size: large;
  background-color: #f9eedf;
  padding-left: 10px;
  margin-left: 10px;
  width: 50%;
  border-radius: 10px;
  padding-bottom: 5px;
}

article h4[id^="bug-fixes"] {
  color: darkblue;
  background-color: #ececec;
  width: 30%;
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 10px;
  padding-bottom: 5px;
}

/* End Changelog */

li,
h1,
h2,
h3,
h4 {
  clear: left;
}

img.vsimage {
  height: 70px;
  float: left;
  margin-right: 10px;
}

.gearicon {
  height: 25px;
}

.tool-image {
  height: 350px;
}

.apiformat-image {
  vertical-align: top;
}

.center-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

.center-win-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa-youtube {
  font-size: 30px !important;
  color: red;
}

/* dt:before {
  content: 'Q. ';
}

dd:before {
  content: 'A. ';
  margin-left: 0;
} */

iframe.wistia_embed {}

/* Feedback links in footer */
article.md-content__inner hr {
  margin: 64px 0;
}

hr {
  background-image: linear-gradient(-90deg, rgba(14, 30, 37, 0) 0, #0e1e25 5%, #0e1e25 90%, rgba(14, 30, 37, 0) 100%);
  height: 2px;
  opacity: .08;
}

/* END Feedback links */
